.chatPage {
    height: 100%;
    overflow: auto;
    padding: 20px;
}

.inputSearchContainer {
    margin-top: 20px;
}

.inputSearch {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    font: 1em Noto Sans, sans-serif;
    min-width: 150px;
    display: block;
    width: 100%;
    border: 2px solid #111;
    border-radius: 5px;
    /*if input:not */
    height: 45px;
    padding: 0 10px;
}

.chatList {
    margin-top: 20px;
}
